@charset "utf-8";


@import "bootstrap.min.css";

/************************************************
*	 	레이아웃 : WRAP							*
************************************************/

.wrap{width:100%;margin:0;padding:0;position:relative;}
.header{width:100%;margin:0;padding:0;position:fixed;left:0;top:0;z-index:1000;}
.mcontainer{width:100%;margin:50px 0 15px;padding:0;position:relative;}






/************************************************
*		헤더 : HEADER							*
************************************************/

.header{height:50px;background-color:#fff;border-bottom:1px solid #e6e6e6;text-align:center;font-size:20px;font-weight:500;line-height:50px;}

.header .logo{height:50px;margin:0 auto;padding:0;text-align:center;font-size:22px;font-weight:700;color:#000;line-height:50px;display:block;position:relative;}
.header .logo img{height:22px;}
.header .logo a{color:#000;}
.header .nav_l{width:50px;height:50px;position:absolute;}
.header .nav_l a{width:100%;height:50px;background:url(../images/icon/nav_icon.png) center 50% no-repeat;background-size:45%;color:#fff;line-height:50px;display:block;}
.header .back_l{width:40px;height:50px;position:absolute;}
.header .back_l a{width:100%;height:50px;background:url(../images/icon/arrow_l_gray.png) center 50% no-repeat;background-size:45%;color:#fff;line-height:50px;display:block;}

.header .grobal_r{width:auto;height:50px;position:absolute;top:0;right:10px;z-index:10000;}
.header .grobal_r .gr_facebook{
	width:50px;
	height:50px;
	background:url(../images/m_icon/m_facebook_off.png) no-repeat right 50%;
	background-size:27px;
	line-height:50px;
	display:block;
}
.header .grobal_r .gr_facebook:hover{
	background:url(../images/m_icon/m_facebook_on.png) no-repeat right 50%;
	background-size:27px;
}



/** 메인 배너 **/
.flex-container a:hover,
.flex-slider a:hover{outline:;}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav{margin:0;padding:0;list-style:;z-index:1000;}
.flex-pauseplay span{text-transform:capitalize;}
/* --------------------------------------------
 * BASE STYLES
 * --------------------------------------------*/
.flexslider{
	margin:0 !important;
	padding:0;
}
.flexslider .slides{width:100%;height:100%;}
.flexslider .slides > li{
	-webkit-backface-visibility:hidden;
	overflow:hidden;
	position:relative;
	display:none;
}
.flexslider .slides img{width:100%;}
.flexslider .slides:after{
	height:0;
	line-height:0;
	display:block;
	clear:both;
	visibility:hidden;
}
html[xmlns] .flexslider .slides{
	display:block;
}
* html .flexslider .slides{
	height:1%;
}
.no-js .flexslider .slides > li:first-child{
	display:block;
}
/* --------------------------------------------
 * DEFAULT THEME
 * --------------------------------------------*/
.flexslider{
	margin:0 0 10px;
	position:relative;
	zoom:1;
	-webkit-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);
	-o-box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow:'' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides{zoom:1;}
.flexslider .slides img{
	width:100%;/*height:100%;*/
	-moz-user-select:none;
}
.flex-viewport{
	max-height:2000px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
.loading .flex-viewport{max-height:460px;}
.carousel li{margin-right:5px;}
.flex-direction-nav{*height:0;z-index:1000;}
.flex-direction-nav a{
	width:50px;
	height:50px;
	margin:-20px 0 0;
	text-decoration:none;
	font-size:0 !important;
	color:rgba(0, 0, 0, 0.8);
	position:absolute;bottom:0;
	z-index:10000;
	display:block;
	overflow:hidden;
	opacity:0;
	cursor:pointer;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.flex-direction-nav .flex-prev{
	background:url(../images/icon/arrow_prev1.png) no-repeat;
	left:0;
	bottom:0;
	display:none;
}
.flex-direction-nav .flex-next{
	background:url(../images/icon/arrow_next1.png) no-repeat;
	text-align:right;
	right:0;
	bottom:0;
	display:none;
}
.flexslider:hover .flex-direction-nav .flex-prev{opacity:1;left:0;}
.flexslider:hover .flex-direction-nav .flex-prev:hover{opacity:1;}
.flexslider:hover .flex-direction-nav .flex-next{opacity:1;right:0;}
.flexslider:hover .flex-direction-nav .flex-next:hover{opacity:1;}
.flex-direction-nav .flex-disabled{opacity:0 !important;filter:alpha(opacity=0);cursor:default;z-index:-1;}
.flex-control-nav{width:100%;text-align:center;position:absolute;bottom:0;}
.flex-control-nav li{margin:0 3px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{
	width:10px;
	height:10px;
	background-color:transparent;
	font-size:0;
	display:block;
	cursor:pointer;
	text-indent:-9999px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:1px solid #fff;
	border-radius:20px;
}
.flex-control-paging li a:hover{background:#fff;background:rgba(255, 255, 255, 1);}
.flex-control-paging li a.flex-active{background:#fff;background:rgba(255, 255, 255, 1));cursor:default;}
.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden;}
.flex-control-thumbs li{width:25%;float:left;margin:0;}
.flex-control-thumbs img{
	width:100%;
	height:auto;
	display:block;
	opacity:.7;
	cursor:pointer;
	-moz-user-select:none;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
}
.flex-control-thumbs img:hover{opacity:1;}
.flex-control-thumbs .flex-active{opacity:1;cursor:default;}

@media screen and (max-width:860px){
	.flex-direction-nav .flex-prev{opacity:1;}
	.flex-direction-nav .flex-next{opacity:1;}
}






/************************************************
*		SLIDER MENU								*
************************************************/

/* Reset */
*,
*:after,
*:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}

.clearfix:after{
	clear:both;
}

.lcontainer{
	margin:0;
	padding:0;
}

.main > section{
	max-width:50px;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1000000;
}

.main > section button{
	margin:0;
	padding:15px 10px;
	background-color:transparent;
	border:0 none;
	opacity:1;
	display:block;
	cursor:pointer;
}

.main > section button img{height:18px;z-index:1000000;}
.main > section button:hover{opacity:1;}
.main > section button.active{opacity:1;}

.main > section button.disabled{
	border:1px solid #2f3034;
	border-radius:0 7px 7px 0;
	background:#2f3034;
	opacity:0.2;
	pointer-events:none;
}

.bg_over{width:100%;height:100%;background-color:#000 !important;opacity:0.4 !important;position:fixed;left:0;top:50px;z-index:100000;}



/* General styles for all menus */
.cbp-spmenu{
	background:#f9f9f9;
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:scroll;
	position:fixed;
}

.cbp-spmenu ul{margin:0;padding:10px 0 70px;}
.cbp-spmenu li{margin:0;padding:0;}
.cbp-spmenu li .cs_tit{margin:0;padding:0;font-size:14px;font-weight:600;color:#222;line-height:28px;letter-spacing:-1px;}
.cbp-spmenu li .cs_tit a{color:#222;}
.cbp-spmenu li ol{margin:-15px 0 15px;padding:0;}
.cbp-spmenu ol li{height:24px;margin:0;padding:0;font-size:14px;color:#666;line-height:24px;}

.cbp-spmenu a{
	color:#666;
	display:block;
}

.cbp-spmenu a.on, .cbp-spmenu a:hover{
	color:#333;
}

.cbp-spmenu a:active{
	color:#fff799;
}


/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical{
	width:160px;
	height:100%;
	top:0;
	z-index:1000000;
}

.cbp-spmenu-vertical a{
	height:40px;
	padding:0 20px;
	text-align:left;
	line-height:40px;
}
.cbp-spmenu-vertical a img{width:25px;height:25px;margin:0 6px 0 0;}

.cbp-spmenu-horizontal{
	width:100%;
	height:150px;
	left:0;
	z-index:1000;
	overflow:hidden;
}

.cbp-spmenu-horizontal h3{
	height:100%;
	width:20%;
	float:left;
}

.cbp-spmenu-horizontal a{
	float:left;
	width:20%;
	padding:0.8em;
	border-left:1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
.cbp-spmenu-left{
	left:-160px;
	top:50px;
}

.cbp-spmenu-right{
	right:-160px;
}

.cbp-spmenu-left.cbp-spmenu-open{
	left:0px;
	top:50px;
}

.cbp-spmenu-right.cbp-spmenu-open{
	right:0px;
}

/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top{
	top:-150px;
}

.cbp-spmenu-bottom{
	bottom:-150px;
}

.cbp-spmenu-top.cbp-spmenu-open{
	top:0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open{
	bottom:0px;
}

/* Push classes applied to the body */
.cbp-spmenu-push{
	overflow-x:hidden;
	position:absolute;
	left:0;
	z-index:0;
}

.cbp-spmenu-push-toright{
	left:160px;
}

.cbp-spmenu-push-toleft{
	left:-160px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width:55.1875em){

	.cbp-spmenu-horizontal{
		font-size:75%;
		height:110px;
	}

	.cbp-spmenu-top{
		top:-110px;
	}

	.cbp-spmenu-bottom{
		bottom:-110px;
	}

}

@media screen and (max-height:26.375em){

	.cbp-spmenu-vertical{
		font-size:90%;
		width:160px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft{
		left:-160px;
	}

	.cbp-spmenu-right{
		right:-160px;
	}

	.cbp-spmenu-push-toright{
		left:160px;
	}
}






/************************************************
*		메인 콘텐츠 :MAIN CONTAINER			*
************************************************/

/*** MAIN CONTENT ***/
.intro-section{
	margin:0 0 10px;
	background-image:url(../images/m_main/m_main_bn_bg.jpg);
	background-size:100% 100%;
	/*height:100%;
	background-attachment:fixed;
	background-size:cover;*/
	text-align:center;
	position:relative;
}
.intro-section .is_content{
	width:100%;
	height:210px;
	padding:45px 0;
	background-color:#f9f9f9;
	text-align:center;
	position:relative;
	z-index:100;
}

.service_wrap,
.ad_wrap,
.agree_wrap{
	background:#fff;
	padding:300px 0 55px;
	position:relative;
}

.reply_wrap{
	background:#f4f4f4;
	padding:55px 0;
	position:relative;
}


.content{height:100%;margin:0 auto;padding:10px;text-align:left;position:relative;}



/** MAIN **/
.main_wrap{width:100%;margin:0;padding:0;position:absolute;left:10px;top:15%;}
.main_img{width:100%;margin:0;padding:0;}

.sub_wrap{width:100%;margin:0 auto;padding-bottom:40px;position:relative;top:20%;}
.sub_title{margin-bottom:50px;font-size:25px;font-weight:400;color:#1e1e1e;}

.mt_btn{
	width:175px;
	height:50px;
	background:url(../images/icon/more_btn1.png) no-repeat 140px 50%;
	border:1px solid #fff;
	text-align:center;
	font-size:18px;
	font-weight:400;
	color:#fff;
	line-height:47px;
	display:block;
}

.main_link{width:100%;margin:0 auto;text-align:center;position:relative;}
.main_link ul{margin:0 0 0 -3%;padding:0;position:relative;}
.main_link li{width:47%;margin:0 0 0 3%;padding:15px;background-color:#f9f9f9;text-align:left;display:block;float:left;}
.main_link li .ml_tit{margin:0 0 10px;font-size:16px;font-weight:600;display:block;}
.main_link li .ml_txt{margin:0 0 10px;font-size:13px;font-weight:400;line-height:20px;display:block;}
.main_link li .ml_btn{width:90px;padding:5px 15px;background-color:#9ea5ad;border-radius:17px;text-align:center;color:#fff;display:block;}



/** 서비스 소개 + 회사소개 **/
.ser_wrap{margin:0 0 15px;padding:20px 15px;position:relative;}
.ser_wrap .sw_thum{width:100%;margin:0 0 15px;padding:0;text-align:center;position:relative;}
.ser_wrap .sw_thum .st_medal{width:100px;height:100px;position:absolute;left:0;bottom:10px;}
.ser_wrap .sw_thum img{width:100%;margin:0 0 10px;}
.ser_wrap .sw_thum .st_goo{width:24.5%;height:3.7%;margin-top:58.2%;position:absolute;right:29.5%;cursor:pointer;display:block;}
.ser_wrap .sw_thum .st_app{width:24.5%;height:3.7%;margin-top:58.2%;position:absolute;right:2.9%;cursor:pointer;display:block;}
.ser_wrap .sw_thum .st_goo img,
.ser_wrap .sw_thum .st_app img{width:100%;margin:0;}

.ser_wrap .sw_btn{
	width:100%;
	height:42px;
	border:1px solid #45ac99;
	text-align:center;
	font-size:16px;
	color:#45ac9b;
	line-height:40px;
	display:block;
}
.ser_wrap .sw_btn img{height:17px;margin:0 0 5px 5px;vertical-align:middle;}
.ser_wrap .sw_fbtn{
	width:100%;
	height:42px;
	border:1px solid #3b5999;
	text-align:center;
	font-size:16px;
	color:#3b5999;
	line-height:40px;
	display:block;
}
.ser_wrap .sw_fbtn img{height:25px;margin:0 10px 5px 0;vertical-align:middle;}






/************************************************
*		SUB CONTENT								*
************************************************/

.scontent{width:100%;height:100%;margin:0 auto 40px;padding:0;text-align:left;position:relative;}



.sub_screen{
	width:100%;
	height:220px;
	padding:45px 0 0;
	position:relative;
	left:0;
	top:30px;
	z-index:1000;
}
.sw1{background:#161616 url(../images/sub/sub_01.jpg) no-repeat center bottom;background-size:1280px auto;}
.sw2{background:#161616 url(../images/sub/sub_02.jpg) no-repeat center bottom;background-size:1280px auto;}
.sw3{background:#161616 url(../images/sub/sub_03.jpg) no-repeat center bottom;background-size:1280px auto;}
.sw4{background:#161616 url(../images/sub/sub_04.jpg) no-repeat center bottom;background-size:1280px auto;}


.company_wrap,
.report_wrap,
.data_wrap,
.service_wrap{
	background:#fff;
	padding:80px 0 55px;
	position:relative;
}

.guide-section{
	padding-top:150px;
	background:#f4f4f4;
	background-size:cover;
	text-align:center;
}

.faq-section{
    height:100%;
	background-image:url(http://info.newstomato.com/images/faq_img.png);
	background-attachment:fixed;
	background-size:cover;
	text-align:center;
}


/** COMPANY **/
.company_case{margin:0 0 15px;padding:0;position:relative;}
.company_case ul{margin:0;padding:0;position:relative;}
.company_case li{width:100%;height:95px;margin:0 0 10px;padding:10px 5px;border:1px solid #c1c1c1;position:relative;display:block;}
.company_case li .cc_thum{width:20%;margin:0 5% 0 0;text-align:center;line-height:75px;display:block;float:left;}
.company_case li .cc_thum img{height:65px;margin:0 0 3px;vertical-align:middle;}
.company_case li .cc_txt{width:75%;display:block;float:left;}
.company_case li.cc_btn{height:40px;margin:0 0 10px;padding:0;border:1px solid #262626;line-height:40px;}
.company_case li.cc_btn a{height:40px;text-align:center;font-size:18px;font-weight:600;color:#262626;line-height:40px;display:block;}

.com_btn{
	width:250px;
	height:45px;
	padding:0 15px;
	background:url(../images/facebook_on.png) no-repeat 15px 50%;
	background-size:32px 32px;
	border:1px solid #385a9a;
	text-align:right;
	font-size:15px;
	color:#385a9a !important;
	line-height:42px;
	display:block;
}




/*** REPORT ***/
.report_case{margin:0;padding:0;position:relative;}
.report_case ul{margin:0 0 0 -80px;padding:0;position:relative;}
.report_case li{margin:0 0 0 80px;float:left;}

.swiper-container {
	height:220px;
	margin:0 auto;
	padding:30px 50px;
	background-color:#f5f5f5;
	position:relative;
	overflow:hidden;
	z-index:1;
}
.swiper-container-vertical > .swiper-wrapper {
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-ms-flex-direction:column;
	-webkit-flex-direction:column;
	flex-direction:column;
}
.swiper-wrapper {
	width:100%;
	height:100%;
	position:relative;
	z-index:1;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	-o-transition-property:-o-transform;
	-ms-transition-property:-ms-transform;
	transition-property:transform;
	-webkit-transform:translate3d(0px, 0, 0);
	-moz-transform:translate3d(0px, 0, 0);
	-o-transform:translate(0px, 0px);
	-ms-transform:translate3d(0px, 0, 0);
	transform:translate3d(0px, 0, 0);
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.swiper-slide {
	width:100%;
	height:100%;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-flex-shrink:0;
	-ms-flex:0 0 auto;
	flex-shrink:0;
	position:relative;
}

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
	width:27px;
	height:44px;
	position:absolute;
	top:40%;
	z-index:1000;
	cursor:pointer;
	-moz-background-size:27px 44px;
	-webkit-background-size:27px 44px;
	background-size:27px 44px;
	background-position:center;
	background-repeat:no-repeat;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity:0.35;
	cursor:auto;
}

.swiper-select{opacity:1 !important;cursor:pointer !important;}
.swiper-button-prev {
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	left:0;
	right:auto;
}
.swiper-button-next {
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	right:0;
	left:auto;
}
.swiper-button-prev.white-btn {
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.white-btn {
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.black-btn {
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.black-btn {
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination.swiper-pagination-hidden {opacity:0;}





/** DATA **/
.data_case{margin:0;padding:15px 0 0;position:relative;}
.data_case ul{margin:0;padding:0;position:relative;}
.data_case li{height:95px;margin:0 0 0 10px;padding:10px;position:relative;display:block;}
.data_case li .dc_thum{width:20%;margin:0 5% 0 0;text-align:center;line-height:75px;display:block;float:left;}
.data_case li .dc_thum img{height:55px;margin:0 0 3px;vertical-align:top;}
.data_case li .dc_txt{width:75%;display:block;float:left;}


ol.tab_api li{width:120px;height:33px;background:#dddddd;float:left;margin-right:3px;font-size:17px;text-align:center;line-height:33px;}
ol.tab_api li a{color:#595959;text-decoration:none;}
ol.tab_api li.active, ol.tab_api li.active a{color:#fff !important;background:#707070;text-decoration:none;}

.tabapi_container{background:#f4f4f4;clear:both}

.service_tab01{float:left;width:47%;height:100%;min-height:400px;}
.service_tab02{float:right;width:48%;height:100%;min-height:400px;}
.tab_api_content{padding:13px;min-height:200px;}
.tab_api_content img{width:100%;}
.tab_api_content p{font-size:15px;font-weight:normal;text-align:center;color:#595959;margin-bottom:0px !important}
.stab_content{background:url(http://info.newstomato.com/images/service_back.png) bottom left no-repeat;background-color:#fff}
.tab_bgf{background:#fff;}

ul.tabs{
	width:100%;
	height:auto;
	margin:0 auto;
	padding:20px 0 9px;
	list-style:none;
	position:relative;
	top:0px;
}
ul.tabs li{
	width:44%;
	height:50px;
	margin:0 3% 10px;
	padding:0;
	margin-right:5px;
	background:#fff;
	border-left:none;
	text-align:center;
	line-height:31px;
	overflow:hidden;
	position:relative;
	float:left;
}
ul.tabs li a{
	width:100%;
	height:100%;
	border:1px solid #d6d6d6;
	outline:none;
	text-decoration:none;
	font-size:18px;
	font-weight:600;
	color:#595959;
	line-height:50px;
	display:block;
}
ul.tabs li a:hover{
	background:#479df2;
	border:1px solid #82b4e5;
	color:#fff;
}
html ul.tabs li.active a:hover, html ul.tabs li.active a, html ul.tabs02 li.active a:hover, html ul.tabs02 li.active a{
	background:#479df2;
	border:1px solid #82b4e5;
	color:#fff !important;
}
.tab_container{
	width:100%;
	padding:20px 0;
	background:#fff;
	-moz-border-radius-bottomright:5px;
	-khtml-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-khtml-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	position:relative;
	float:left;
}
.plr50{padding:40px 50px !important;}
.tc_scroll{
	/*
	height:500px;
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:scroll;
	*/
}

.tab_content .tc_btn{height:45px;position:absolute;right:50px;top:40px;}
.tab_content .tc_btn a{width:170px;height:45px;margin:0 0 0 10px;border:1px solid #232323;text-align:center;font-size:16px;color:#333;line-height:45px;float:left;display:block;}
.tab_content .tc_api{margin:30px 0;padding:20px 80px;background-color:#fff;border:0 none;}

.tab_content,
.tab_content02{font-size:1.2em;clear:both}
.tab_content h2,
.tab_content02 h2{
	margin-bottom:10px;
	font-size:24px;
	font-weight:normal;
	font-weight:600;
}
.tab_content h3 a,
.tab_content02 h3 a{color:#254588;}

ul.tabs02{
	width:100%;
	height:auto;
	padding-bottom:9px;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
	top:0px;
}
ul.tabs02 li{
	width:195px;
	height:50px;
	margin:0;
	margin-right:5px;
	padding:0;
	background:#fff;
	border-left:none;
	text-align:center;
	line-height:31px;
	overflow:hidden;
	position:relative;
	float:left;
}
ul.tabs02 li a{
	width:100%;
	height:100%;
	border:1px solid #d6d6d6;
	outline:none;
	font-size:18px;
	font-weight:600;
	line-height:50px;
	text-decoration:none;
	color:#595959;
	display:block;
}
ul.tabs02 li a:hover{
	background:#479df2;
	border:1px solid #82b4e5;
	color:#fff;
}
html ul.tabs02 li.active a:hover, html ul.tabs li.active a{
	background:#479df2;
	border:1px solid #82b4e5;
	color:#fff !important;
}
.tab_container02{
	width:100%;
	min-height:450px;
	max-height:550px;
	margin-top:15px;
	padding:40px 50px 40px 50px;
	background:#fff;
	-moz-border-radius-bottomright:5px;
	-khtml-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-khtml-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	position:relative;
	overflow-y:auto;
	float:left;
}

.tab_content p,
.tab_content02 p{margin-top:10px;margin-bottom:30px;font-size:16px;}

.api_img{text-align:center;display:block}
.api_img img{border:none;}






/************************************************
*				고객센터 : QNA					*
************************************************/

.accordion {
	margin:0 0 8px;
	padding:10px 20px 10px 10px;
	background:#fff;
	border:1px solid #81b3e4;
	border-radius:3px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	font-weight:400;
	color:#333;
	line-height:24px;
	position:relative;
}

.accordion .actit{width:10%;height:auto;margin:0 5% 0 0;text-align:left;font-weight:400;float:left;}
.accordion .acopy{width:85%;height:auto;margin:0;text-align:left;font-weight:400;float:left;}

.accordion-open {
	background:#f9fdff;
	color:#333;
}
.accordion-open span {
	padding:10px;
	display:block;
	position:absolute;
	right:8px;
	bottom:14px;
}
.accordion-open span {
	background:url(../images/icon/close_arrow1.png) center center no-repeat;
}
.accordion-close span {
	padding:10px;
	background:url(../images/icon/open_arrow1.png) center center no-repeat;
	display:block;
	position:absolute;
	right:8px;
	bottom:14px;
}
div.acontainer {
	margin:0;
	padding:0;
}
div.acontent {
	margin:0;
	padding:5px 0 25px;
	background:#fff;
	font-size:14px;
	color:#333;
	line-height:25px;
	position:relative;
}
div.acontent .actxt{width:4%;text-align:left;font-weight:400;color:#555;float:left;}
div.acontent .accop{width:95%;margin:0;text-align:left;font-size:14px;font-weight:400;color:#666;float:left;}
div.acontent .accop img{margin:0 auto;}

div.acontent ul, div.acontent p {
	margin:0;
	padding:3px;
}
div.acontent ul li {
	list-style-position:inside;
	line-height:25px;
}
div.acontent ul li a {
	text-decoration:underline !important;
	color:#2b89eb;
}






/************************************************
*		푸터 : FOOTER							*
************************************************/

.footer{width:100%;margin:0;padding:20px 10px;background-color:#fcfcfc;border-top:1px solid #e6e6e6;position:relative;}
.f_wrap{width:100%;margin:0 auto 10px;padding:0;position:relative;}
.f_wrap .fw_logo{width:80px;margin:0 15px 0 0;float:left;}
.f_wrap .fw_logo img{width:100%;}
.f_wrap .copyright{font-size:12px;color:#999;line-height:14px;}

/** 푸터 소개 **/
.f_copy{margin:0 0 15px;padding:0;text-align:left;font-size:14px;font-weight:500;color:#666;line-height:20px;position:relative;}

/** 푸터 정보 **/
.f_info{margin:0;padding:0;text-align:left;font-size:12px;font-weight:400;color:#999;line-height:18px;position:relative;}






/************************************************
*		ETC										*
************************************************/

.xbltit{margin:25px 0;text-align:left;font-size:48px;line-height:48px;font-weight:700;position:relative;display:block;z-index:100;}
.xbltit span{height:32px;position:absolute;right:0;top:0;}

.xbctit{margin:0 0 40px;text-align:center;font-size:34px;line-height:48px;font-weight:700;color:#333;position:relative;display:block;z-index:100;}
.xbctit span{height:45px;position:absolute;right:0;top:0;}
.xbctit .xbc_b_bar{width:100%;height:21px;margin:5px 0;background:url(../images/icon/title_blue.png) no-repeat center 0;display:block;}
.xbctit .xbc_w_bar{width:100%;height:21px;margin:5px 0;background:url(../images/icon/title_white.png) no-repeat center 0;display:block;}

.xltit{margin:20px 0 15px;text-align:left;font-size:26px;line-height:36px;font-weight:700;position:relative;display:block;z-index:100;}
.xltit span{height:32px;position:absolute;right:0;top:0;}
.xltit .xl_sel{font-size:12px;color:#777;}
.xltit .xl_stxt{font-weight:300;}

.xbtit{height:40px;margin:40px 0 15px;text-align:left;font-size:34px;line-height:38px;font-weight:700;position:relative;display:block;z-index:100;}
.xbtit span{position:absolute;right:0;top:0;}

.xctit{margin:0 0 20px;text-align:center;font-size:32px;line-height:43px;font-weight:600;color:#333;position:relative;display:block;z-index:100;}
.xctit span{height:45px;position:absolute;right:0;top:0;}

.xlbtit{margin:0 0 10px;text-align:left;font-size:32px;line-height:44px;font-weight:600;position:relative;display:block;z-index:100;}
.xlbtit span{height:34px;position:absolute;right:0;top:0;}

.xlstit{margin:0 0 20px;text-align:left;font-size:23px;line-height:38px;font-weight:600;position:relative;display:block;z-index:100;}
.xlstit span{height:40px;position:absolute;right:0;top:0;}

.xcstit{margin:0 0 20px;text-align:center;font-size:23px;line-height:38px;font-weight:500;position:relative;display:block;z-index:100;}
.xcstit span{height:40px;position:absolute;right:0;top:0;}

.bxltit{margin:0 0 5px;text-align:left;font-size:20px;font-weight:500;color:#333;line-height:26px;position:relative;z-index:100;}
.bxltit span{height:30px;position:absolute;right:0;top:0;}

.bctit{margin:0 0 20px;text-align:center;font-size:18px;color:#333;line-height:20px;position:relative;z-index:100;}
.bctit span{height:22px;position:absolute;right:0;top:0;}

.bltit{margin:0 0 10px;text-align:left;font-size:16px;font-weight:600;color:#333;line-height:20px;position:relative;display:block;z-index:100;}
.bltit span{height:22px;position:absolute;right:0;top:0;}

.ltit{margin:0 0 15px;text-align:left;font-size:14px;color:#333;line-height:20px;position:relative;z-index:100;}
.ltit span{height:22px;position:absolute;right:0;top:0;}

.ctit{margin:0 0 15px;text-align:center;font-size:14px;color:#333;line-height:20px;position:relative;z-index:100;}
.ctit span{height:22px;position:absolute;right:0;top:0;}

.ltxt{margin:0 0 10px;text-align:left;font-size:14px;color:#555;line-height:28px;font-weight:500;position:relative;display:block;}
.stxt{margin:0 0 25px;text-align:left;font-size:14px;line-height:20px;font-weight:400;color:#888;letter-spacing:-1px;position:relative;display:block;}
.ctxt{margin:0 0 15px;text-align:center;font-size:14px;color:#879c9c;line-height:28px;font-weight:300;position:relative;display:block;}
.sltxt{margin:0 0 30px;text-align:left;font-size:12px;line-height:18px;font-weight:400;color:#777;position:relative;display:block;}
.sltxt b{font-size:16px;}
.sltxt span{height:20px;line-height:20px;position:absolute;right:0;top:0;}
.sctxt{margin:0 0 30px;text-align:center;font-size:12px;line-height:16px;font-weight:400;color:#666;position:relative;display:block;}

.slxt{margin:0 0 30px;text-align:left;font-size:12px;line-height:18px;font-weight:400;color:#666;position:relative;display:block;}

.tal{text-align:left !important;}
.tac{text-align:center !important;}
.tar{text-align:right !important;}






/************************************************
*		TABLE									*
************************************************/

.table_type1{width:100%;margin:0 0 15px;border-top:2px solid #333;border-bottom:2px solid #333;font-size:14px;}
.table_type1 caption{display:none}
.table_type1 thead td{padding:15px;background-color:#fcfcfc;border-bottom:1px solid #c0c0c0;font-size:18px;font-weight:600;color:#333;line-height:26px;}
.table_type1 tbody td{padding:15px;background-color:#fff;font-size:16px;font-weight:400;color:#333;line-height:24px;}

.table_type2{width:100%;margin:0 0 15px;font-size:14px;}
.table_type2 caption{display:none}
.table_type2 thead td{padding:5px;background-color:#dcdcdc;font-size:16px;font-weight:600;color:#333;line-height:26px;}
.table_type2 tbody td{padding:15px;background-color:#fff;border-bottom:1px solid #e8e8e8;font-size:14px;font-weight:400;color:#333;line-height:24px;}
.table_type2 tbody td b{font-size:16px;}
.table_type2 .tc2_1{background-color:#f5f5f5;}
.table_type2 .tc2_2{background-color:#fbfbfb;}

.table_type3{margin:0 0 15px;padding:0;position:relative;}
.table_type3 caption{display:none}
.table_type3 thead td,
.table_type3 tbody td{padding:25px 10px 0;background-color:#fff;font-size:16px;font-weight:500;color:#333;line-height:26px;}
.table_type3 ul{margin:8px 0 0 0;padding:0;position:relative;}
.table_type3 li{width:100%;margin:0 0 10px 0;float:left;}
.table_type3 .tt3_btn{width:100%;height:45px;margin:0 auto 35px;background-color:#2a87e4;text-align:center;color:#fff;line-height:45px;display:block;}

.table_type3 label{margin:0;font-size:16px;font-weight:300;cursor:pointer;display:block;}
.table_type3 input[type="checkbox"]{
	width:1em;
	margin-right:-2em;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	opacity:0;
	display:block;
	float:left;
	z-index:-1;
}
.table_type3 input[type="checkbox"] + label{
	width:50%;
	padding:0;
	text-decoration:none;
	font-size:10px;
	font-weight:200;
	color:#666;
	position:relative;
	cursor:pointer;
	display:block;
	float:left;
}
.table_type3 input[type="checkbox"] + label b{
	margin:0 0 0 25px;
	font-size:16px;
	font-weight:400;
}
.table_type3 input[type="checkbox"] + label:before{
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	text-transform:none !important;
}
.table_type3 input[type="checkbox"] + label:before{
	width:1.8em;
	height:1.8em;
	margin:0;
	background:url(../images/icon/check_up.png) no-repeat center 50% !important;
	content:'';
	text-align:center;
	line-height:1.725em;
	display:inline-block;
	position:absolute;
	left:0;
	top:6px;
}
.table_type3 input[type="checkbox"]:checked + label:before{background:url(../images/icon/check_ov.png) no-repeat center 50% !important;content:'';}
.table_type3 input[type="checkbox"]:checked + label{color:#333 !important;}
.table_type3 input[type="checkbox"]:focus + label:before{color:#333;}

.table_type4{width:100%;margin:0 0 15px;border-top:1px solid #ccc;border-left:1px solid #ccc;font-size:14px;}
.table_type4 caption{display:none}
.table_type4 thead td{padding:10px;background-color:#efefef;border-right:1px solid #ccc;border-bottom:1px solid #ccc;font-size:14px;font-weight:400;color:#333;line-height:26px;}
.table_type4 tbody td{padding:10px;background-color:#fff;border-right:1px solid #ccc;border-bottom:1px solid #ccc;font-size:14px;font-weight:400;color:#333;line-height:24px;}






/************************************************
*		레이어 팝업 : POPUP						*
************************************************/

.mw_popup1, .mw_popup2, .mw_popup3, .mw_popup4{width:100%;height:100%;display:none;position:fixed;_position:absolute;top:0;left:0;z-index:100000;}
.mw_popup1.open, .mw_popup2.open, .mw_popup3.open, .mw_popup4.open{display:block}
.mw_popup1 .bg, .mw_popup2 .bg, .mw_popup3 .bg, .mw_popup4 .bg{width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50);position:absolute;top:0;left:0;}
#popup1, #popup2, #popup3, #popup4{width:100%;max-width:850px;margin:0 auto;background:#fff;position:relative;top:5%;}
#popup1.g_popup1 .g_popup1, #popup2.g_popup2 .g_popup2, #popup3.g_popup3 .g_popup3, #popup4.g_popup4 .g_popup4{display:block}
#popup1 .close, #popup2 .close, #popup3 .close, #popup4 .close{width:60px;height:60px;padding:0;border:0;background:#c9c9c9 url(../images/icon/close_wbtn.png) no-repeat center 50%;text-decoration:none !important;line-height:60px;cursor:pointer;opacity:1;overflow:visible;position:absolute;top:0;right:0;}
#popup1 .close:hover, #popup2 .close:hover, #popup3 .close:hover, #popup4 .close:hover{background:#999 url(../images/icon/close_wbtn.png) no-repeat center 50%;}

.sm_pop{max-width:450px !important;}

.pop_header{height:60px;padding:0 10px;background:#ddd;text-align:center;font-size:25px;font-weight:600;color:#333;line-height:60px;}

.pscroll{height:700px;overflow:hidden;overflow-x:hidden;overflow-y:scroll;}
.pop_mcontant{margin:0;padding:0;position:relative;}
.pop_contant{padding:20px 10px;position:relative;}

.pop_contant .pc_ltit{text-align:left;font-size:16px;line-height:24px;}
.pop_contant .pc_ltxt{margin:0 0 10px;text-align:left;font-size:14px;font-weight:400;color:#999;line-height:20px;}

.pop_contant .pc_ctit{text-align:center;font-size:16px;line-height:24px;}
.pop_contant .pc_ctxt{margin:0 0 10px;text-align:center;font-size:14px;font-weight:400;color:#999;line-height:20px;}

.pop_contant select{font-size:16px;color:#bbb;}
.pop_contant select:focus{color:#666;}

.pop_contant textarea{font-size:16px;color:#bbb;}

.btn_wrap{height:60px;padding:25px 15px;text-align:center;font-size:18px;font-weight:400;color:#c1c1c1;line-height:60px;position:relative;bottom:0;}
.btn_wrap a{cursor:pointer;}

.btn_swrap{height:60px;padding:25px 0px;text-align:center;font-size:18px;font-weight:400;color:#c1c1c1;line-height:60px;position:relative;bottom:0;}
.btn_swrap a{cursor:pointer;}

a.btn100{width:100%;}
a.btn50{width:50%;}

a.btn_confirm{background:#d60825;color:#fff;float:left;display:block;}
a.btn_confirm:hover{background:#c10d26;color:#fff;text-decoration:none !important;}

a.btn_close{background:#dbdbdb;float:left;display:block;}
a.btn_close:hover{background:#ccc;text-decoration:none !important;}






/************************************************
*		동의 : Agreement						*
************************************************/

.agr_wrap{width:100%;margin:0 auto;padding:30px 10px 10px;position:relative;}
.agr_case{width:100%;margin:0 auto;padding:30px 20px;position:relative;}
.agr_swrap{width:100%;max-width:400px;margin:0 auto;padding:30px 25px 10px;position:relative;}

.stb_xbti{margin:20px 0;text-align:center;font-size:40px;font-weight:800;color:#666;line-height:50px;display:block;}
.stb_xti{height:25px;margin-bottom:40px;text-align:center;font-size:18px;font-weight:bold;color:#666;line-height:25px;display:block;}
.stb_bti{height:30px;margin-bottom:20px;text-align:left;font-size:18px;font-weight:bold;color:#666;line-height:30px;display:block;}
.stb_ti{height:20px;margin-bottom:5px;text-align:left;font-size:14px;font-weight:bold;color:#666;line-height:20px;display:block;}
.stb_copy{margin-bottom:5px;text-align:left;font-size:13px;color:#666;line-height:18px;display:block;}
.stb_txt{margin-bottom:5px;padding-left:15px;text-align:left;font-size:13px;color:#666;line-height:18px;display:block;}






/************************************************
*		RESPONSIVE								*
************************************************/

@media all and (max-width:1280px){
	.pscroll{height:700px;}
}

@media all and (max-width:1024px){
	.pscroll{height:650px;}
}

@media all and (max-width:980px){
	.pscroll{height:550px;}
}

@media all and (max-width:768px){
	.pscroll{height:400px;}
}

@media all and (max-width:480px){
	.pscroll{height:380px;}
}

@media all and (max-width:419px){
	.pscroll{height:350px;}
}


/* 230529 추가*/

/*index_m.html*/
.mt_btn{width:112px;height: 32px;line-height: 32px;font-size: 14px;}

/*service_m.html*/
.rpl_bottom{margin:0 0 16px;width: 100%;}
.rpl_l{font-size: 18px;font-weight: 600;}
.rpl_l span{display: block;font-size: 14px;font-weight: 300;line-height: 120%;letter-spacing: -0.5px;margin: 0 0 6px;}
.rpl_r ul{display: flex;height: 100%;align-items: flex-end;width: 320px;justify-content: space-between;}
.rpl_r li{width: 100px;}
.rpl_r a img{width: 100%;}